<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="../static//chat-js.js"></script>
        <link rel="stylesheet" href="../static/login-css.css">
	</head>
	<body>
        <h1>Login</h1>
        <form method="POST" action="/login">
            <input type="text" name="name" placeholder="User Name">
            <input type="password" name="password" placeholder="Password">
            <button>Log In</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {{messages[0]}}
        {% endif %}
        {% endwith %}
        <p>If you don't have an account, Please Sign Up <a href="./signup">Here</a>.</p>
	</body>
</html>
